:root {
  --primary-color: #4e89b7;
  --primary-dark: #003756;
  --primary-light: #90bcdb;
}
.row {
  display: flex;
  height: 100%;
}
.column {
  float: left;
  padding: 10px;
  height: 100%;
}
.top {
  height: 40%;
  width: 100%;
  background-color: #c7cdd15a;
  border-bottom-style: solid;
  border-bottom-color: #939ca161;
  box-shadow: inset -5px -10px 20px #9eaeb95a;
  max-width: 100%;
}
.bottom {
  /* height: 60%; */
  margin-bottom: 100px;
  width: 100%;
}
.left {
  width: 60%;
  height: 1000px;
}
.right {
  width: 40%;
  background-color: #c7cdd15a;
  border-left-style: solid;
  border-left-color: #939ca1be;
  box-shadow: 5px 10px 20px #9eaeb95a inset;
  height: 10000px;
  max-height: 100%;
}

.loud-voice {
  font-size: 48px;
  color: #4e89b7;
  font-weight: 400;
}

.inner-column {
  max-width: 1000px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.list-form-elements {
  display: flex;
  justify-content: left;
  max-width: 1000px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.preview-table {
  padding-left: 70px;
  padding-right: 70px;
  width: 400px;
  background-color: #ffffff;
  padding-top: 150px;
  border-left: 5px solid #aab0b4;
}

.preview-table .overlay-heading {
  margin-top: 0;
  background-color: #287bbbc5;
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  align-items: left;
  max-width: 80%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 10px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  flex: 1;
  padding-bottom: 100px;
}

section.container, section.create-element, section.update-element {
  padding-bottom: 0;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
  z-index: 2;
}

.site-link {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.site-link:hover {
  text-decoration: underline;
}

button {
  font-size: 13px;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

button:enabled {
  opacity: 1;
}
button.solid-button {
  display: block;
}

.select-elements .actions {
  max-width: 700px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.not-active {
  border: none;
  background-color: white;
}

.form-info {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* .form-info input {
  padding: 0;
} */

.field label {
  display: block;
  margin-bottom: 5px;
}

.field + .field {
  margin-top: 24px;
}

.field input {
  display: block;
  max-width: 500px;
}

.field textarea {
  max-width: 300px;
}

#title {
  font-size: 30px;
  width: 100%;
}

#description {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

td > * {
  vertical-align: middle;
}

.select-element-table {
  max-width: 700px;
}

.select-element-table tbody td:nth-child(1) {
  display: table-cell;
}

.select-element-table td:last-child {
  text-align: right;
}

tbody tr:hover,
tbody tr:focus {
  background: #f7fcff;
}

tbody tr:hover:last-of-type,
tbody tr:focus:hover:last-of-type {
  background: #ffffff;
}

tbody tr {
  border-left: 1px solid #e6e4df;
  border-right: 1px solid #e6e4df;
}

tr {
  border-bottom: 1px solid #e6e4df;
}

thead th {
  text-transform: uppercase;
  color: #333;
  border: 1px solid #bfbfba;
  border-width: 1px 0;
  background: #f5f5f2;
}

thead th:first-of-type {
  border-left: 1px solid #bfbfba;
}

thead th:last-of-type {
  border-right: 1px solid #bfbfba;
}

th {
  padding: 16px 12px;
  text-align: left;
}

thead > tr {
  border-bottom: 1px solid #000;
}

td svg {
  padding: 0 10px 0px 0px;
}

.table-actions {
  width: 140px;
}

.manage-form td:nth-child(1) {
  width: 200px;
}

.manage-form td:nth-child(2) {
  width: 50px;
}

.manage-form td:nth-child(3) {
  width: 50px;
}

.form-table tbody td:nth-child(1) {
  word-wrap: break-word;
  min-width: 200px;
}

.form-table tbody td:nth-child(3) {
  min-width: 80px;
}

.form-table tbody td:nth-child(5) {
  min-width: 220px;
}

td {
  padding: 20px 20px;
  height: 26px;
  text-align: left;
}

.solid-button {
  color: #fff;
  background-color: #4187ba;
  border: none;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 700;
  border-radius: 20px;

  border: 2px solid transparent;
}

.solid-button:hover {
  color: #ffffff;
  background-color: #195c8c;
  border: 2px solid transparent;
}

.secondary-button {
  color: #4187ba;
  background-color: #f6f6f6;
  border: solid 2px #4187ba;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 700;
  border-radius: 20px;
  margin-right: 6px;
  -webkit-font-smoothing: antialiased;
}
.danger-button {
  color: #d0312d;
  background-color: #f6f6f6;
  border: solid 2px #d0312d;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 700;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
}

a {
  display: inline-block;
}

.transparent-button {
  color: #4187ba;
  border: none;
  background-color: white;
  cursor: pointer;
}

.primary-action {
  text-decoration: none;
  color: var(--primary-color);
  padding: 4px 8px;
  font-weight: 700;
}

.primary-action:hover {
  text-decoration: underline;
}

.secondary-action {
  font-size: 16px;
  padding: 4px 8px 4px 0px;
  border: none;
  background: transparent;
  color: var(--primary-light);
  text-decoration: none;
}

.secondary-action:hover {
  text-decoration: underline;
}

.primary-action + .secondary-action {
  margin-left: 4px;
}

button + table,
a + table,
table + button {
  margin-top: 20px;
}

table + .actions {
  margin-top: 20px;
}

.select-elements table + .actions {
  margin-top: 30px;
}

.field,
.form-actions {
  margin-top: 20px;
}

.overlay-heading {
  background-color: #4e8ab7da;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0px;
}

.page-title {
  margin-top: 0px;
}

.create-element, .update-element {
  display: flex;
  justify-content: space-evenly;
}

.create-element form {
  /* border: 1px solid black; */
}

.create-element .field {
}

.create-element input,
.update-element input {
  background-color: #f4f4f4;
  border: 1px solid #cfcfcf;
  padding: 8px;
  width: 95%;
  max-width: none;
}

.create-element .inner-column,
.update-element .inner-column {
  max-width: 450px;
}


.overlay {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  border: 1px solid transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 0%, 0.2);
}

.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2b3945;
  text-align: center;
  color: #ffffff;
}

.final-form {
  width: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.response-table {
  display: flex;
  max-width: 2000px;
  margin-top: 3%;
  margin-bottom: 3%;

  background-color: #a3a3a3;
}
.final-form .overlay-heading {
  margin-top: 0;
  background-color: #4e8ab7f2;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a,
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropbtn:hover {
  background-color: #195c8b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hidden-row {
  background-color: rgb(231, 231, 231);
}

.hidden-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding: 20px 70px 20px 70px;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-container {
  min-width: 450px;
}

.hidden-input, .hide {
  display: none;
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-builder {
  max-width: 1400px;
  gap: 20px;
}

.form-table {
  padding-bottom: 140px;
}

.overlay {
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1800px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}

.view-form .inner-column {
  max-width: 450px;
}

.field label {
  display: inline-block;
  margin-bottom: 0px;
}

.field input {
  background-color: #f4f4f4;
  border: 1px solid #cfcfcf;
  padding: 8px;
  width: 95%;
  max-width: none;
}

.field input[type="checkbox"] {
  width: auto;
  max-width: none;
  margin-left: 8px;
  margin-top: 0px;
}

.field textarea {
  display: block;
  background-color: #f4f4f4;
  border: 1px solid #cfcfcf;
  padding: 8px;
  width: 95%;
  max-width: none;
}

label + input[type="checkbox"] {
  display: inline;
}

label + input,
label + textarea {
  margin-top: 5px;
}

.form-info input {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
}

.form-info textarea {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
}

.form-info .field + .solid-button {
  margin-top: 24px;
}

.overlay-heading {
  margin-top: 64px;
}

.overall-hidden {
  display: flex;
  max-height: 809px;
  border-left: 5px solid #aab0b4;
}